@charset "utf-8";


* {
      margin: 0px;
      padding: 0px;
 }

.home {
      background-image: url(../img/welcomebackground.png); /* Source, by Porapak Apichodilok: https://www.pexels.com/photo/person-holding-world-globe-facing-mountain-346885/ */
      background-size: cover;
      height: 100vh;
}

.grid-container {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: 50px repeat(4, 1fr);
                
      height: 100vh;

      grid-column-gap: 5px;
      grid-row-gap: 5px;
      
}




/* Style for Navigation bar */
.navigationbar{
      grid-column: 1/-1;
      grid-row: 1;
      font-weight: 500;
      text-align: center;
      padding-top: 5px;
      padding-bottom: 10px;
      border-bottom: 3px white solid;
}


/* style for catchphrase */
.catchphrase{ 
      grid-column: 2;
      grid-row:  3;
      text-align: center;      
}
.catchphrase a {
      padding: 10px 15px  15px;       
}



/* SECOND PAGE WHAT CAN WE DO ? AND OPINION*/
/* Style for Heading/ Intro to problem */

.hero {
      grid-column: 1/-1;
      grid-row: 1/3;
      background-image: url(../img/background.png); /* Source, by Cengiz inkaya:https://www.pexels.com/photo/grayscale-photo-of-snow-covered-mountains-4073777/ */
      
      height: 450px;
      background-size: cover;
      background-repeat: no-repeat;
      
}

.globalwarming {
      grid-column: 1/-1;
      grid-row: 2;
      margin-top: 20px;
      margin-left: 30px;
      width: 600px;
      padding-top: 40px;
      padding-bottom: 50px;
}
.globalwarming h1 {
      font-size: 3em;   
}
.globalwarming p {
      font-size: large;
      text-align: left;
      margin-top: 15px;
      padding-top: 40px;
}

/* Layout for my opinion*/
section#opinion {
      position: relative;
      top: -300px;
      right: -725px;
      width: 700px;
      height: 300px;
      padding-top: 40px;
}
section#opinion h2 {
      padding-top: 60px;
      font-size: 2.5em;
      text-align: center;
}
section#opinion p {
      font-size: large;
      padding: 30px;
      text-align: center;
      line-height: l.9em;
      border-radius: 10px;
}
/* Layout for methods to help save the earth */
.methods {
      grid-column: 1/-1;
      grid-row: 3;
      margin: 20px;
      text-align: left;
}
.methods h1 {
      font-size: 2.3em;
}
.methods li {
      list-style-type: none;
}
.methods p {
      padding-top: 5px;
      padding-right: 100px;
}

.publictransport, .electricity, .foodwaste {
      border-radius: 10px;
      height: 180px;
}
.publictransport li, .electricity li, .foodwaste li {
      margin-left: 20px;
}
.publictransport {
      grid-column: 1;
      grid-row: 3;     
}

.electricity {
      grid-column: 2;
      grid-row: 3;
      margin-top: 20px;
}

.foodwaste {
      grid-column: 3;
      grid-row: 3;
      
      margin-top: 20px;
}



/* STYLE FOR 3RD PAGE ACTIONS TAKEN BY SP */
.boss {
      grid-column: 1/-1;
      grid-row: 1/3;
      
      background-image: url(../img/background.png); /* Source, by Cengiz inkaya:https://www.pexels.com/photo/grayscale-photo-of-snow-covered-mountains-4073777/ */
}
.plants, .CCC, .sensors, .greenmark, .moreinfo{
      margin: 25px 25px 10px 25px;
      border-radius: 10px;
      outline: 10px #c2bab0 solid;
}
.plants img, .CCC img, .sensors img, .greenmark img{
      border-radius: 10px;
}

/*Layout for Environmental Sustainability in SP*/
.sustainability{
      grid-column:1/-1;
      grid-row: 2;
      padding-left: 15px;
      height: 170px;
}
.sustainability h2 {
      margin-top: 15px;
}

/* Layout for Plants in SP */
.plants {
      grid-column: 1;
      grid-row: 3;
      
      width: 450px;
      height: 310px;
}
.plants p {     
      text-align: center;
      margin: 5px;
}
.plants img {
      width: 100%;
      height: 220px;

      float: right;
}

/* Layout for Common Core Curriculum in SP */
.CCC {
      grid-column: 2;
      grid-row: 3;

      width: 650px;
      height: 310px;
      text-align: center;
}
.CCC img {
      width: 100%;
      height: 200px;
}

/* Layout for sensors */
.sensors {
      grid-column: 1;
      grid-row: 4;

      width: 450px;
}
.sensors p {
      text-align: center;
}
.sensors img {
      width: 100%;
      height: 220px;
}

/* Layout for Platinum Greenmark in SP */
.greenmark {
      grid-column: 2;
      grid-row: 4;

      width: 650px;
      height: 350px;
}
.greenmark p {
      text-align: center;
}
.greenmark img {
      width: 100%;
      height: 250px;
}

/* Layout for More Info */
.moreinfo {
      grid-column: 3;
      grid-row: 3/5;
      margin-top: 50px;
      margin-bottom: 50px;
      height: 630px;
}
.moreinfo p {
      line-height: 1.5em;
      text-align: center;
      font-size: large;
}
.moreinfo a{
      padding: 6px;
      border-radius: 10px;
}
.moreinfo a:hover {
      transition: 0.4s;     
      margin: 6px;
}



/* STYLE FOR 4TH PAGE ABOUT ME */
.leader {
      grid-column: 1/-1;
      grid-row: 1/3;
      height: 300px;

      background-image: url(../img/background.png);
      background-size: cover;
}

.introduction, .values, .interest, .personality {
      margin-left: 20px;
      padding-left: 10px;
}

.values, .interest, .personality {
      font-size: large;
      line-height: 1.6em;
}

.interest, .personality {
      border-radius: 15px;
      margin-top: 20px;
}
.interest p, .personality  p {
      padding-top: 20px;
}

.values h1, .interest h1, .personality h1 {
      padding-top: 10px;
}

/* Layout for Self Introduction */
.introduction {
      grid-column: span(2);
      grid-row: 2;
     
      width: 1000px;
      margin-top: 20px;
      margin-bottom: 20px;
      
}
.introduction h1 {
      font-size: 2.9em;
}

.introduction p {
      margin-top: 10px;
      font-size: 1.1em;
      line-height: 1.6em;
      padding: 10px;
      border-radius: 10px;
}

.introduction li {
      list-style-type: none;
}

/* Layout for My Values */
.values, .personality, .interest{
      margin-top: 10px;
      margin-right: 15px;
      margin-left: 15px;
}
.values {
      grid-column: 1;
      grid-row: 3/4;
      width: 500px;
      height: 350px;
}
.values li {
      list-style-type: none;
      border-radius: 10px;
      height: 90px;
      margin-bottom: 20px;
      padding: 5px;
}
.values h1 {
      padding-bottom: 20px;
}

/* Layout for My Interest */
.interest {
      grid-column: 2;
      grid-row: 3;

      height: 300px;     
}
.personality {
      grid-column: 3;
      grid-row: 3;

      height: 330px;
      text-align: center;
}

/* Layout for Images in About Me */
.riflerange, .trail, .frog {
      border-radius: 10px;
      outline: 7px #c2bab0 solid;
      
}
.riflerange {
      grid-column: 2;
      grid-row: 4;

      margin-right: 20px;
      margin-left: 20px;
      
      width: 540px;
      height: 350px;
}
.trail {
      grid-column: 3;
      grid-row: 4;

      margin-right: 20px;

      width: 300px;
      height: 350px;
}
.frog {
      grid-column: 1;
      grid-row: 4;

      margin-top: 60px;
      margin-left: 100px;

      width: 340px;
      height: 300px;
}