@charset "utf-8";


/*Styling Page*/
html{ 
    overflow-x: hidden;
    overflow-y: scroll;
    font-family:system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #CEC7BF;
}

/* Styling Nav Bar */

.navigationbar li{
    display: inline;
    margin: 50px;
}

.navigationbar a{ 
    color: white;
    font-size: 25px;
    text-decoration: none;
    padding: 3px;
}

.navigationbar a:hover {
    border: 3px white solid;
    color: #f0e2c0;
    border-radius: 10px;
    transition: 0.4s;
    text-decoration:bold;
    text-shadow: black 5px 5px 10px;
}

/* Styling catchphrase */

.catchphrase a {
    font-size: 3.5em;
    font-weight: bolder;
    color: #04084f;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    text-shadow: dimgrey 3px 3px 10px;
}

.catchphrase a:hover {
    border: 5px #f0e2c0 solid;
    color: white;
    border-radius: 15px;
    transition: 0.5s;
}


/* Styling my opinon */
.hero {
    background-color: white;
    color: white;
}
.hero h1, section#opinion h2 {
    text-shadow: black 13px 13px 15px;
}

section#opinion p {
    background-color: rgba(0,0,0,0.2);
}

/* Styling methods to help */
.methods h1{
    color: #335233;
    text-shadow: dimgray 2px 2px 5px;
}

.methods p {
    font-size: large;
    line-height: 1.4em;
}

.publictransport, .electricity, .foodwaste {
    background: linear-gradient(90deg,#bfb19f, #c2bab0 );
    box-shadow: black 2px 5px 15px;
}
.publictransport:hover, .electricity:hover, .foodwaste:hover {
    font-weight: 600;
}
/*STYLE FOR, ACTIONS TAKEN BY SP */
/* Style for the top of the page*/
.boss{
    background-color: dimgray;
}

/*Style for rest of the page */

/* Style for things SP done */
.plants, .CCC, .sensors, .greenmark, .moreinfo {
    background-color: #c2bab0;
    box-shadow: black 10px 10px 15px;
}
.plants img, .CCC img, .sensors img, .greenmark img{
    filter:saturate(120%);
}

.moreinfo a{
    color: black;
    font-weight: bold;
    background-color: orange;
    text-decoration: none;
}
.moreinfo a:hover {
    color:#f0e2c0;
    background-color: #cc8521;
    text-decoration:bold;
}
/*Style for Environmental Sustainability in SP */
.sustainability h1{
    color: #faf5e9;
    text-shadow: black 5px 5px 10px;
}
.sustainability {
    color: white;
    text-shadow: black 5px 5px 10px;
}

/* STYLE FOR PAGE ABOUT ME */
.introduction {
    color: white;
}
.introduction h1 {
    color: #faf5e9;
    text-shadow: black 5px 5px 10px;
}
.introduction p {
    background-color: rgba(0,0,0,0.2);
}
.values li {
    box-shadow: black 2px 5px 15px;
}
.interest {
    background-color: #c2bab0;
    box-shadow: black 2px 5px 15px;
}
.personality {
    background: linear-gradient(90deg, #c2bab0,#bfb19f );
    box-shadow: black 2px 5px 15px;
}
.values h1, .interest h1, .personality h1 {
    color: #335233;
    text-shadow: dimgray 2px 2px 4px;
}
li#integrity, li#respect, li#patience {
    background: linear-gradient(90deg,#bfb19f, #c2bab0 );
}
li#integrity b, li#respect b, li#patience b {
    color: #335233;
}

/* Style for Images*/
.riflerange, .trail, .frog {
    filter:saturate(110%);
}

.riflerange {
    filter:sepia(20%);
}

.trail {
    filter:sepia(60%);
}