@charset "utf-8";


* {
      margin: 0px;
      padding: 0px;
 }

.index {
      background-image: url(welcomebackground.png); /* Source, by Porapak Apichodilok: https://www.pexels.com/photo/person-holding-world-globe-facing-mountain-346885/ */
      background-size: cover;
      height: 100vh;
}

.grid-container {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: 50px repeat(4, 1fr);
                
      height: 100vh;

      grid-column-gap: 5px;
      grid-row-gap: 5px;
      
}

.grid-item {
      outline: 3px blue dashed;
}



/* Style for Navigation bar */
.navigationbar, .opinionnavigationbar {
      grid-column: 1/-1;
      grid-row: 1;
      font-weight: 500;
      text-align: center;
      padding-top: 5px;
      padding-bottom: 10px;
      
      border-bottom: 3px white solid;
}


/* style for catchphrase */
.catchphrase{ 
      grid-column: 2;
      grid-row:  3;
      text-align: center;
              
}

.catchphrase a {
      padding: 10px 15px  15px;
               
}

/* SECOND PAGE WHAT CAN WE DO ? */
/* Style for Heading/ Intro to problem */

.hero {
      grid-column: 1/-1;
      grid-row: 1/3;
      background-image: url(opinionbackground.png); /* Source, by Cengiz inkaya:https://www.pexels.com/photo/grayscale-photo-of-snow-covered-mountains-4073777/ */
      
      height: 450px;
      background-size: cover;
      background-repeat: no-repeat;
      
}

.globalwarming {
      grid-column: 1/-1;
      grid-row: 2;
      margin-top: 20px;
      margin-left: 30px;
      width: 600px;
      padding-top: 40px;
      padding-bottom: 50px;
}

.globalwarming h1 {
      font-size: 3em;   
}

.globalwarming p {
      font-size: large;
      text-align: left;
      margin-top: 15px;
      padding-top: 40px;
}

/* Layout for my opinion*/
section#opinion {
      position: relative;
      top: -290px;
      right: -725px;
      width: 700px;
      height: 300px;
      padding-top: 40px;

}

section#opinion h2 {
      padding-top: 80px;
      font-size: 2.5em;
      text-align: center;
}

section#opinion p {
      font-size: large;
      padding-top: 15px;
      padding-left: 50px;
      padding-right: 50px;
      text-align: center;

}
/* Layout for methods to help save the earth */
.methods {
      grid-column: 1/-1;
      grid-row: 3;
      margin-left: 10px;
      margin-right: 10px;
      text-align: left;
}

.methods h1 {
      font-size: 2.3em;
}

.methods li {
      list-style-type: none;
}

.methods p {
      padding-top: 5px;
      padding-right: 100px;
      
}

.publictransport {
      grid-column: 1;
      grid-row: 3;
      height: 200px;
      
}


.electricity {
      grid-column: 2;
      grid-row: 3;
      height: 200px;
      
}

.foodwaste {
      grid-column: 3;
      grid-row: 3;
      height: 200px;
     
}


/* STYLE FOR 3RD PAGE ACTIONS TAKEN BY SP 
.leader {
      grid-column: 1/-1;
      background-color: white;
      height: 450px;
      background-size: cover;
      background-repeat: no-repeat;
      outline: 3px orange dashed;
}
*/

.sptrees {
      grid-column: 1;
      grid-row: 2;
      width: 700px;
      height: 400px;
      outline: 5px orange dashed
}

/* STYLE FOR 4TH PAGE ABOUT ME */
.aboutme {
      background-image: url(aboutmebackground.png); /* Source, by Daniel Absi: https://www.pexels.com/photo/close-up-photo-of-black-sand-952670/ */
      
      background-size: cover;
      height: 100vh;
}

.introduction {
      grid-column: span(2);
      grid-row: 2;
}

.values {
      grid-column: 1;
      grid-row: 3;
}

.interest {
      grid-column: 1;
      grid-row: 4;
}

.personality {
      grid-column: 1;
      grid-row: 5;
}